@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* https://codepen.io/shshaw/pen/RwJwJJx */

.sketch-processing {
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        #a07003,
        #006e33 5%,
        #006e33 60%,
        #a07003 95%
    );
    border: solid 20px transparent;
    --gradient-border: conic-gradient(
        from var(--border-angle),
        transparent 25%,
        #154734,
        #c99700 99%,
        transparent
    );
    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;
    background-position: center center;
    -webkit-animation: bg-spin 3s linear infinite;
    animation: bg-spin 3s linear infinite;
}
@-webkit-keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}
@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}
.box:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}
